<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="ClientPortalSuite">

	<listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test name="ClientPortalTests">
    
    	<groups>
				<run>
					<exclude name="user"/>
				</run>			
		</groups>	
  
        <classes>

            <class name="testcases.LoginTest"/>
			<class name="testcases.FolderDashboardTest"/>			
			<class name="testcases.DocumentDashboardTest">						
					<methods>								
							<include name="verifyNavigationToDocumentDashboard"/>
					</methods>					
			</class>
				
		 	<class name="testcases.CreateDocumentTest"/>    
                         				
        </classes>
        
    </test>
    
 
    <!--  Profile menu options & Logout -->  
      
    <test name="Dashboard Actions">
        <classes>
            <class name="testcases.DocumentDashboardTest">          
	                <methods>
	                    <include name="verifyProfileMenuOptions"/>
	                    <include name="verifyLogout"/>
	                </methods>               
            </class>
            
            <class name="testcases.CreateDocumentTest">
            	<methods>
            			<include name="verifyUserDashboard"/>           			
            	</methods>          	
            </class> 
                  
        </classes>
    </test> 
    

</suite>